<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headfile :: head">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sport News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="team.html">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="player.html">Players</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<br>
<p>Welcome to Sports News. Get the most up-to-date scores and stats of your favorite teams.</p>
<br>
<p th:text="${player}" />

<form action="#" th:action="@{/savePlayer}" th:object="${player}" method="GET">
    <label>First Name</label><input type="text" name="firstname" th:field="*{firstName}"/> <br>
    <label>Last Name</label><input type="text" name="lastname" th:field="*{lastName}"/><br>
    <label>Hometown</label><input type="text" name="hometown" th:field="*{hometown}"/><br>
    <label>Team Name</label><input type="text" name="teamPlayingFor" th:field="*{teamPlayingFor}"/><br>
    <label>Sport</label><input type="text" name="sport" th:field="*{sport}"/><br>
    <label>PlayerId</label><input type="text" name="sport" th:field="*{id}"/><br>
    <button name="submit" type="submit" value="0">Submit</button>
</form>


</body>
</html>